@import '../../../public/scss/variables';

.header-mobile{
    z-index: 2;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 58px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

    
    & .logo{
        height: 100%;
        display: flex;
        align-items: center;
    }

    & .logo img{
        height: 36px;
    }

    & .icon{
        font-size: 30px;
        display: flex;
    }

    & .icon i{
        margin: auto;
        color: $primary-blue;
    }
}

.nav-logo{
    height: 36px;
    img{
        height: 100%;
    }
}

.nav-item{
    height: 48px;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    display: flex;
    align-items: center;

    &-icon{
        font-size: 20px;
        color: $primary-blue;
        margin-right: 8px;
        margin-left: 4px;
        min-width: 30px;
    }

    &-name{
        font-size: 14px;
        font-weight: 500;
    }
}

.icons{
    display: flex;
    .icon{
        margin: 0 8px;
        position: relative;
        i{
            font-size: 24px;
        }
        span{
            position: absolute;
            right: -8px;
            top: 8px;
            background-color: #FF0000;
            padding: 1px 1px;
            border-radius: 8px;
            color: #fff;
            min-width: 19px;
            text-align: center;
            font-size: 10px;
        }
    }
}

.cart-title-close button{
    display: flex;
    align-items: center;
    height: 100%;
}